# --- STM32CubeIDE / CubeMX Junk ---
bin/
obj/
Debug/
Release/
*.list
*.map
*.hex
*.bin
*.elf
*.launch
*.o
*.d
*.su

# --- Arduino / PlatformIO ---
applet/
*.hex
*.bin
build/
.build/
*.symbol
*.map

# --- VS Code and IDEs ---
.vscode/
.idea/
.history/
*.log

# --- OS and System Junk ---
.DS_Store
Thumbs.db
desktop.ini

# --- Passwords and confidential
confidential.h